{{ define "main" }}
<div class="mw6 center ph3 pv4">
  <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
  <div class="flex justify-between grey-3">
    <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
    <p>Author: {{ .Params.author }} </p>
    <p>Year: {{ .Params.ncpyear }} </p>
  </div>
  <div class="cms mw6">
    
    	{{ range .Params.advice_entry}}
				<div>
					<h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
          {{ if .Params.imageurl }}<img src="{{ .Params.imageurl }}" alt="{{ .Title }}" />{{ end }}
					<p>{{ .text | markdownify }}</p>
				</div>
			{{ end }}
    
    <p>{{ .Description }}</p>
    {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
    {{ .Content }}
  </div>
</div>
{{ end }}
