{{ define "main" }}
<div class="mw7 center ph3 pv4">
  	<h1 class="f2 lh-title b mb3">{{.Title}}</h1>
  		{{ if .Params.country_image }}<img src="{{ .Params.country_image }}" class="w-100"/>{{ end }}
    	<p class = "mw7">{{ if .Params.country_description }}{{ .Params.country_description }} 
      {{ else }}
        There is no information here yet! If you would like to contribute, please send me an email at valerian.mccaskill@gmail.com!
      {{ end }}</p>
    	

    	{{ if .Params.country_description }}<h2 class="f3 b lh-title mb2 primary">Contents</h2>{{ end }}
    	{{ range .Params.advice_category}}
    	{{$base := .advice_category_heading }}
    	{{$anchor := print "#" $base}}
    	<a class = "ba db mw5 pa2 bg-black-025 mb2 bg-near-white primary" href={{$anchor}}>{{.advice_category_heading}}</a>

    	{{end}}

  	</div>
  	<div class="cms center ph3 pv4 mw7">
  	{{ range .Params.advice_category }}
    <h1 class= "f2 lh-title b mb3 primary" id={{.advice_category_heading}}>{{.advice_category_heading}}</h1>
  	
    	{{ range .advice_entry}}
					<h2 class="f2 b lh-title mb2 primary">{{ .heading }}</h2>
          {{ if .imageurl }}<img src="{{ .imageurl }}" alt="{{ .heading }}" class="w-100"/>{{ end }}
					{{ with .text }}
					<p class = "mw7">{{ . | markdownify }}</p>
					{{ end }}

		<p class="tr grey-3 mw7">
		    {{ .advice_author}}{{ if .author_host_uni }}, {{ .author_host_uni }}{{end}} {{ if .author_year }}({{ .author_year }}){{ end }}
		</p>
		    
			{{ end }}
    {{end}}
    

	</div>
</div>
{{ end }}
