{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}

<div>
<script>
  // initialize the map
  var map = L.map('map', {attributionControl: false}).setView([0, 120], 4);
  // load a tile layer
    
L.tileLayer('http://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}.png', {
  attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
  subdomains: 'abcd',
  maxZoom: 19
}).addTo(map);
    
//Adding markers
var malaysia = L.marker([3.1389, 101.6871]).addTo(map);
    malaysia.bindPopup('<a href="/ncp/malaysia">Malaysia</a>');
var indonesia = L.marker([-6.1754, 106.8272]).addTo(map);
    indonesia.bindPopup('<a href="/ncp/indonesia">Indonesia</a>');
var hong_kong = L.marker([22.2789, 114.1631]).addTo(map);
    hong_kong.bindPopup('<a href="/ncp/hong_kong">Hong Kong</a>');
var myanmar = L.marker([19.7450, 96.1297]).addTo(map);
    myanmar.bindPopup('<a href="/ncp/myanmar">Myanmar</a>');
var japan = L.marker([35.67, 139.7]).addTo(map);
    japan.bindPopup('<a href="/ncp/japan">Japan</a>');
var korea = L.marker([37.5651, 126.9745]).addTo(map);
    korea.bindPopup('<a href="/ncp/korea">Republic of Korea </a>');
var thailand = L.marker([13.5862, 100.6332]).addTo(map);
    thailand.bindPopup('<a href="/ncp/thailand">Thailand</a>');
var china = L.marker([39.9061, 116.3912]).addTo(map);
    china.bindPopup('<a href="/ncp/china">China</a>');
var taiwan = L.marker([25.0376, 121.5637]).addTo(map);
    taiwan.bindPopup('<a href="/ncp/taiwan">Taiwan</a>');
var singapore = L.marker([1.2905, 103.8520]).addTo(map);
    singapore.bindPopup('<a href="/ncp/singapore">Singapore</a>');
var philippines = L.marker([14.5980, 120.9839]).addTo(map);
    philippines.bindPopup('<a href="/ncp/philippines">Philippines</a>');
var sri_lanka = L.marker([6.9220, 79.8562]).addTo(map);
    sri_lanka.bindPopup('<a href="/ncp/sri_lanka">Sri Lanka</a>');
var suva = L.marker([-18.1417, 178.4422]).addTo(map);
    suva.bindPopup('<a href="/ncp/suva">Suva</a>');
var male = L.marker([4.1775, 73.4868]).addTo(map);
    male.bindPopup('<a href="/ncp/male">Malé</a>');
var india = L.marker([28.6139, 77.2038]).addTo(map);
    india.bindPopup('<a href="/ncp/india">India</a>');
var bhutan = L.marker([27.5639, 89.5181]).addTo(map);
    bhutan.bindPopup('<a href="/ncp/bhutan">Bhutan</a>');
var nepal = L.marker([27.7097, 85.3218]).addTo(map);
    nepal.bindPopup('<a href="/ncp/nepal">Nepal</a>');
var solomon_islands = L.marker([-9.4313, 159.9553]).addTo(map);
    solomon_islands.bindPopup('<a href="/ncp/solomon_islands">Solomon Islands</a>');
  </script>
</div>

{{ partial "blog" . }}

{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }}

{{ end }}
